body {
  padding-top: 0;
  font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif!important;
  font-size: 16px;
}

p {
  font-size: 14px;
}

.navbar {
  border-radius: 0;
  .navbar-brand {
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
  }
}

#map {
  width: 100%;
  height: 600px;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
  color: #444444;
}
h1.house_price {
  color: #444444;
}

.house_img_link, .house_properties_list .image {
  display: block;
  position: relative;

  span.rank {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #777777;
    opacity: 0.8;
    color: #ffeeba;
    font-weight: bold;
    padding: 10px;
    font-size: 2em;
  }
}

.card {
  &.marker {
    border: 0;
    overflow: hidden;
    
    img {
      width: 100%;
    }
  }
  &.house {
    padding-top: 10px;

    img {
      width: 100%;
    }
    .card-body {
      .card-text {
      }
    }
  }
}

.page-header {
  a {
    margin: 5px;
  }
}

.house_properties_list {
  .image {
    img {
      width: 100%;
      margin: 0;
    }
  }
}

.house_attributes {
  margin-top: 20px;

  .comments_area {
    padding: 0 18px;
    textarea {
      display: block;
      width: 100%;
      height: 70px;
    }
  }
}

.house_address {
    margin: 20px 0;
}

.attribute_checkbox, .property_checkbox {
  margin-bottom: 5px;

  .form-check-input {
    margin-top: 7px;
  }
  .form-check-label {
    padding-left: 20px;
    padding-top: 3px;
    font-size: 12px;
  }
}

.house_properties_list {
  .image {
    img {
      width: 100%;
    }
  }
}
